<section class="home-section about">
    <div class="container fadeup">
        <div class="about__block flex flex--wrap">
            <div class="about__content">
                {% include "../components/section-title.html.twig" with { class : 'about__title', text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'} %}

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="about__img">
                <div class="section__img">
                    <div class="img img--center img--no_repeat img--full p-60" style="background-image: url(images/about_img.jpg)"></div>
                </div>
            </div>
        </div>
    </div>
</section>