<section class="home-section banner">
    <div class="section__bg banner__bg" style="background-image: url(images/banner.jpg)"></div>
    <div class="banner__block text--center">
        <h1 class="banner__title fadeup">Integer bibendum sit amet <br> arcu vel egestas</h1>

        {% include "../components/banner-link.html.twig" %}

    </div>
</section>
