<section class="home-section contact">
    <div class="section__bg contact__bg" style="background-image: url(images/contact_bg.jpg)"></div>
    <div class="container fadeup">
        {% include "../components/section-title.html.twig" with { class : 'contact__title text--center', text: 'Convinced to work with Us?'} %}
        <h4 class="section__text contact__text text--center">Company has helped agencies keep their promises to client since 2005.</h4>

        {% include "../components/contact-form.html.twig" %}

    </div>
</section>