<footer class="footer">
    <div class="container">
        <div class="footer__inner flex flex--wrap">
            <div class="footer__left"><span>&copy;2017 Company. All Rights Reserved.</span></div>
            <div class="footer__right">
                {% include "../components/social-link.html.twig" %}
            </div>
        </div>
    </div>
</footer>