<section class="home-section testimonial">
    <div class="container">
        {% include "../components/section-title.html.twig" with { class : 'testimonial__title text--center', text: 'Testimonials'} %}
        <div class="flex flex--wrap testimonial__wrap">
            {% include "../components/testimonial.html.twig" %}
        </div>
    </div>
</section>