<form class="form contact__form" action="">
    <div class="form__row">
        <div class="form__field column-3"><input class="form__control" type="text" placeholder="Fullname"></div>
        <div class="form__field column-3"><input class="form__control"type="email" placeholder="Email Address"></div>
        <div class="form__field column-3"><input class="form__control"type="text" placeholder="Phone Number"></div>
    </div> 
    <div class="form__row">
        <div class="form__field column-1"><textarea class="form__control" name="" id="" rows="10" placeholder="Message in brief"></textarea></div>
    </div>                        
    <div class="form__row">
        <div class="form__field column-1 text--center">
            {% include "./button.html.twig" with {text: 'Submit', class : ''} %}
        </div>
    </div>
</form>