<nav class="nav">
    <a href="#" class="nav__item nav--active">About</a>
    <a href="#" class="nav__item">Services</a>
    <a href="#" class="nav__item">Solutions</a>
    <a href="#" class="nav__item">Blog</a>
</nav>