<div class="social">
    <span class="social_text">Follow Us on:</span>
    <ol class="social_links">
        <li class="social__item"><a href="#" class="social__link social__link--fb"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--in"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--twitter"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--mail"></a></li>
    </ol>
</div>