/*HELPERS ND MIXINS*/

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

@for $i from 1 through 40 {
  .p-#{$i*5} {
    padding-top: $i * 5 + 0%;
  }
}

@for $i from 1 through 12 {
  .column-#{$i} {
    width: 100% / $i;
  }
}

/* ------------ RESPONSIVE FONT ------------ */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

/* ------------ RESPONSIVE FONT ------------ */
